In [ ]:
# Q1: Create a python program to print the below pattern using for loop as or while loop

#a)

#1
#2 2
#3 3 3
#4 4 4 4
#5 5 5 5 5"""

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if j <= i:
      print(i, end = " ")
  print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [ ]:
#b)

#1
#1 2
#1 2 3
#1 2 3 4
#1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if j <= i:
      print(j, end = " ")
  print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
#c)

#1 1 1 1 1
#2 2 2 2
#3 3 3
#4 4
#5

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if j >= i:
      print(i, end = " ")
  print("\n")

1 1 1 1 1

2 2 2 2

3 3 3

4 4

5

In [ ]:
#d)

#5 5 5 5 5
#5 5 5 5
#5 5 5
#5 5
#5

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if j >= i:
      print("5", end = " ")
  print("\n")

5 5 5 5 5

5 5 5 5

5 5 5

5 5

5

In [ ]:
# e)

#0 1 2 3 4 5
#0 1 2 3 4
#0 1 2 3
#0 1 2
#0 1

In [50]:
p=6
for i in range(1,6):
  for j in range(0,p):
    print(j, end = " ")
  print("\n")
  p -= 1

0 1 2 3 4 5

0 1 2 3 4

0 1 2 3

0 1 2

0 1

In [ ]:
# f)

#1
#3 3
#5 5 5
#7 7 7 7
#9 9 9 9 9

In [ ]:
k = 1
for i in range(0,5):
  for j in range(0,5):
    if j <= i:
      print(k, end = " ")
  print("\n")
  k += 2

1

3 3

5 5 5

7 7 7 7

9 9 9 9 9

In [ ]:
#g)

#5 5 5 5 5
#4 4 4 4
#3 3 3
#2 2
#1

In [ ]:
i = 5
while i >= 1:
  j = i
  while j >= 1:
    if j <= i:
      print(i, end = " ")
    j -= 1
  print("\n")
  i -= 1

5 5 5 5 5

4 4 4 4

3 3 3

2 2

1

In [ ]:
# h)

#1
#2 1
#3 2 1
#4 3 2 1
#5 4 3 2 1

In [51]:
for i in range(1,6):
  k = i
  for j in range(1,6):
    if j <= i:
      print(k, end = " ")
      k -= 1
  print("\n")

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [ ]:
# i)

#5 4 3 2 1
#4 3 2 1
#3 2 1
#2 1
#1

In [ ]:
i = 5
while i >= 1:
  j = i
  while j >= 1:
    if j <= i:
      print(j, end = " ")
    j -= 1
  print("\n")
  i -= 1

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [ ]:
# j)

#1
#3 2
#6 5 4
#10 9 8 7

In [ ]:
k = 1
for i in range(0,4):
  p = k
  for j in range(0,4):
    if j <= i:
      print(p, end = " ")
    p -= 1
  print("\n")
  k += i+2

1

3 2

6 5 4

10 9 8 7

In [52]:
# k)

#          1
#        1 2
#      1 2 3
#    1 2 3 4
#  1 2 3 4 5

In [57]:
n=6
for i in range(1,6):
  print(" "*(n-i), end = " ")
  for j in range(1,6):
    if j <= i:
      print(j, end = " ")
  print("\n")

      1

     1 2

    1 2 3

   1 2 3 4

  1 2 3 4 5

In [ ]:
# l)

#1
#1 1
#1 2 1
#1 3 3 1
#1 4 6 4 1
#1 5 10 10 5 1
#1 6 15 20 15 6 1

In [ ]:
i = 1
while i <= 7:
  j = 1
  while j <= 7:
    if j <= i:
      print(j, end = " ")
    j += 1
  print("\n")
  i += 1

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

1 2 3 4 5 6

1 2 3 4 5 6 7

In [ ]:
# m)

#1 2 3 4 5
#2 2 3 4 5
#3 3 3 4 5
#4 4 4 4 5
#5 5 5 5 5

In [ ]:
l = 0
for i in range(1,6):
  for j in range(1,6):
    if j < i:
      print(i, end = " ")
    else:
      print(j, end = " ")
  print("\n")

1 2 3 4 5

2 2 3 4 5

3 3 3 4 5

4 4 4 4 5

5 5 5 5 5

In [ ]:
#n)
#1
#2  4
#3  6  9
#4  8  12  16
#5  10  15  20  25
#6  12  18  24  30  36
#7  14  21  28  35  42  49
#8  16  24  32  40  48  56  64

In [ ]:
for i in range(1, 9):
  u = i
  for j in range(1, i+1):
    print(u, end = " ")
    u = u + i
  print("\n")

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

6 12 18 24 30 36

7 14 21 28 35 42 49

8 16 24 32 40 48 56 64

In [ ]:
# o)

#*
#* *
#* * *
#* * * *
#* * * * *

In [2]:
for l in range(1,6):
  print("* "*l)

*
* *
* * *
* * * *
* * * * *

In [ ]:
# p)

 #       *
 #     * *
 #   * * *
 # * * * *
#* * * * *

In [7]:
n = 6-1
for p in range(1,6):
  print((" "*(n-p)) + ("*"*p))

    *
   **
  ***
 ****
*****

In [ ]:
# q)

#* * * * *
#* * * *
#* * *
#* *
#*

In [11]:
i=5
while i>=1:
  print("* "*i)
  i -= 1

* * * * *
* * * *
* * *
* *
*

In [ ]:
#r)

       # * * * * * *
       #  * * * * *
       #   * * * *
       #    * * *
       #     * *
       #      *

In [19]:
i=6
n=i
while i>=1:
  print((" "*(n-i))+("* "*i))
  i -= 1

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [14]:
# s)

#*****
# ****
#  ***
#   **
#    *

In [15]:
i=6
n=i
while i>=1:
  print((" "*(n-i))+("*"*i))
  i -= 1

******
 *****
  ****
   ***
    **
     *

In [16]:
#t)
#            *
#           *  *
#          *  *  *
#         *  *  *  *
#        *  *  *  *  *
#       *  *  *  *  *  *
#      *  *  *  *  *  *  *

In [17]:
n = 8-1
for i in range(1,8):
  print((" "*(n-i))+("* "*i))

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [20]:
# q)

'''*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*  '''

'*  \n* *  \n* * *  \n* * * *  \n* * * * *  \n* * * * * *  \n \n* * * * * *  \n* * * * *  \n* * * *  \n* * *  \n* *  \n*  '

In [23]:
for l in range(1,6):
  print("* "*l)
print("\n")
i=5
while i>=1:
  print("* "*i)
  i -= 1

*
* *
* * *
* * * *
* * * * *


* * * * *
* * * *
* * *
* *
*

In [24]:
# r)

#*
#* *
#* * *
#* * * *
#* * * * *
#* * * *
#* * *
#* *
#*

In [25]:
for l in range(1,6):
  print("* "*l)

i=5
while i>=1:
  print("* "*i)
  i -= 1

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [26]:
# s)

#        *
#      * *
#    * * *
#  * * * *
#* * * * *
#  * * * *
#    * * *
#      * *
#        *

In [28]:
n = 6-1
for p in range(1,6):
  print((" "*(n-p)) + ("*"*p))
i=4
n=5
while i>=1:
  print((" "*(n-i)) + ("*"*i))
  i -= 1

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [29]:
#t)

#* * * * *
# * * * *
#  * * *
#   * *
#    *
#    *
#   * *
#  * * *
# * * * *
#* * * * *

In [31]:
i=6
n=i
while i>=1:
  print((" "*(n-i))+("* "*i))
  i -= 1

n = 7-1
for i in range(1,7):
  print((" "*(n-i))+("* "*i))

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [32]:
# u)

#        *
#       * *
#      * * *
#     * * * *
#    * * * * *
#   * * * * * *
#    * * * * *
#     * * * *
#      * * *
#       * *
#        *

In [36]:
n = 7-1
for i in range(1,7):
  print((" "*(n-i))+("* "*i))

i=5
m=6
while i>=1:
  print((" "*(m-i))+("* "*i))
  i -= 1

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [37]:
#v)

#    *
#   * *
#  *   *
# *     *
#*       *
# *     *
#  *   *
#   * *
#    *

In [38]:
n = 7-1
for i in range(1,7):
  print((" "*(n-i))+("* "*i))

i=5
m=6
while i>=1:
  print((" "*(m-i))+("* "*i))
  i -= 1

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *