In [1]:
def toLower():
    s = input("Enter a string ")
    n = ""
    for y in s:
        if ord(y) in range(65, 91):
            diff = ord(y) - 65
            y = chr(97+diff)
            n += y
        else:
            n = n + y
    print(n)

In [2]:
toLower()

Enter a string #$$jbkj987JGVUVK
#$$jbkj987jgvuvk

In [3]:
def toUpper():
    s = input("Enter a string ")
    n = ""
    for y in s:
        if ord(y) in range(97, 123):
            diff = ord(y) - 97
            y = chr(65+diff)
            n += y
        else:
            n = n + y
    print(n)

In [4]:
toUpper()

Enter a string kj;ih8979$##$LHB
KJ;IH8979$##$LHB

In [5]:
def toCapitalize():
    s = input("Enter a string ")
    n = ""
    if ord(s[0]) in range(97, 123):
            diff = ord(s[0]) - 97
            n += chr(65+diff)
    else:
            n += s[0]
    for i in range(1,len(s)):
        if ord(s[i]) in range(65, 91):
            diff = ord(s[i]) - 65
            n += chr(97+diff)

        else:
            n = n + s[i]
    print(n)

In [6]:
toCapitalize()

Enter a string nkljf987!@##$
Nkljf987!@##$

In [7]:
def zeroDim():
  n = int(input("Enter a number "))
  return n
zeroDim()

Enter a number 786865

786865

In [8]:
def oneDim():
  lst = []
  for i in range(0,5):
    lst.append(int(input("Enter number ")))
  return lst
oneDim()

Enter number 76
Enter number 987
Enter number 54
Enter number 23
Enter number 178

[76, 987, 54, 23, 178]

In [9]:
def twoDim():
  for i in range(0,5):
    for j in range(0,5):
      if j<i:
        print([j,i,j])
twoDim()

[0, 1, 0]
[0, 2, 0]
[1, 2, 1]
[0, 3, 0]
[1, 3, 1]
[2, 3, 2]
[0, 4, 0]
[1, 4, 1]
[2, 4, 2]
[3, 4, 3]