In [ ]:
# Q1: Given a list of numbers, write a python program that returns a new list which Has all duplicate elements removed. And is sorted in an increasing order.

In [ ]:
lst = [6,3,7,3,2,9,1,6,3,4]
lst.sort()
print(list(set(lst)))

[1, 2, 3, 4, 6, 7, 9]

In [ ]:
# Q2: Write a Python program where you will iterate over both keys and values in dictionaries

In [ ]:
dic = {"marks" :23, "total" :567, "average" :4.56, "grade" :'B'}
for u,v in dic.items():
  print(u,v)

marks 23
total 567
average 4.56
grade B

In [ ]:
# Q3: Write a Python program that takes a dictionary of student names and returns a list of student names in alphabetical order

In [ ]:
dic1 = {"Student 1": "Tarun", "Student 2": "Manoj", "Student 3": "Gephi"}
lst = []
for t in dic1.values():
  lst.append(t)
lst.sort()
print(lst)

['Gephi', 'Manoj', 'Tarun']

In [ ]:
# Q4: Write a Python which returns a new list of Booleans, from a given number. Iterating through the number one digit at a time, append True if the digit is 1 and False if it is 0.

In [ ]:
s = input("Enter binary values ")
lst = []
for i in s:
  if i == "1":
    lst.append("True")
  else:
    lst.append("False")
print(lst)

Enter binary values 1010110
['True', 'False', 'True', 'False', 'True', 'True', 'False']

In [ ]:
# Q5: Write a Python program where you will return a dictionary where the keys will be the character and the values will be the occurrence of the character in the string, and it should for any string inputs (dynamic)

In [5]:
s1 = input("Enter a string ")
dic = {}
for i in s1:
  for j in s1:
    val = s1.count(i)
    dic.update({i:val})
print(dic)

Enter a string kjabsfglefwe
{'k': 1, 'j': 1, 'a': 1, 'b': 1, 's': 1, 'f': 2, 'g': 1, 'l': 1, 'e': 2, 'w': 1}

In [6]:
# Q6: Given a dictionary containing the names and ages of a group of people, return the name of the oldest person

In [19]:
bio = {"Tmma": 41, "Ackes": 45, "myna": 15, "Benthon": 29}
max = 0
for i in bio.values():
  if i > max:
    max = i
for i in bio:
  if bio[i] == max:
    print(i)
    break

Ackes

In [20]:
# Q8: Create a program that returns a list of items that you can afford in the store with the money you have in your wallet. Create a dictionary with items as key and price as values

In [33]:
money = int(input("Enter money in your wallet "))
dic = {}
dic1 = {}
sum = 0
for i in range(0,6):
  k=input("Enter key ")
  v=int(input("Enter value "))
  dic.update({k: v})

  if sum < money:
    if v < money:
      sum += v
      dic1.update({k:v})
print(dic)
print(dic1)

Enter money in your wallet 50
Enter key water bottle
Enter value 20
Enter key chips
Enter value 10
Enter key iphone
Enter value 49000
Enter key towel
Enter value 90
Enter key pen
Enter value 20
Enter key cake
Enter value 400
{'water bottle': 20, 'chips': 10, 'iphone': 49000, 'towel': 90, 'pen': 20, 'cake': 400}
{'water bottle': 20, 'chips': 10, 'pen': 20}

In [34]:
# Q9: Write a Python program to create a union of sets

In [35]:
d1 = {1,2,3,4,5}
d2 = {4,5,6,7,8}
d3=d2.union(d1)
print(d3)

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
# Q10: Write a Python program to check if a given value is present in a set or not

In [56]:
s = set()
for i in range(0,5):
  s.add(input("Add value in set "))
print(s)
value = set()
value.add(input("Enter value to check "))
print(value.issubset(s))

Add value in set 15
Add value in set 16
Add value in set 17
Add value in set 18
Add value in set 19
{'17', '15', '16', '19', '18'}
Enter value to check 17
True

In [57]:
# Q11: Write a Python program to find the occurrences of 3 most common words in a given text. And make it as a dictionaries

In [58]:
s1 = input("Enter a string ")
lst = s1.split()
dic = {}
for i in lst:
  for j in lst:
    val = lst.count(i)
    dic.update({i:val})
print(dic)

Enter a string cat dog back cat rat dog
{'cat': 2, 'dog': 2, 'back': 1, 'rat': 1}

In [59]:
# q12: Write a Python program that accepts name of given subject and mark, and make subjects as keys in dictionaries and marks as values and print the finaldictionary with subjects and marks

In [60]:
dic = {}
for j in range(0,5):
    subject = input("Enter the subject")
    marks = int(input("Enter the marks"))
    dic.update({subject:marks})
print(dic)

Enter the subjectmaths
Enter the marks45
Enter the subjectscience
Enter the marks42
Enter the subjectsocial
Enter the marks44
Enter the subjectenglish
Enter the marks43
Enter the subjectphysics
Enter the marks41
{'maths': 45, 'science': 42, 'social': 44, 'english': 43, 'physics': 41}