In [ ]:
# Q1: Write a Python program to loop through all the elements in a list

In [ ]:
lst = [1,2,3,4,5]
for j in lst:
  print(j)

1
2
3
4
5

In [ ]:
# Q2: Write a Python program where you will ask the users to insert elements in a list

In [ ]:
lst = []
for i in range(0,3):
  lst.append(input("Enter elements in the list "))
print(lst)

Enter elements in the list 3
Enter elements in the list 4
Enter elements in the list 5
['3', '4', '5']

In [ ]:
# Q3: Write a Python program to remove all the odd index value from a list and only even index elements should remain

In [8]:
lst = [1,2,34,56,4,5]
for i in range(1,(len(lst)//2)+1):
  del lst[i]
print(lst)

[1, 34, 4]

In [ ]:
# Q4: Write a Python program to sum and multiply all the items in a list

In [ ]:
lst = []
sum = 0
product =1
for i in range(0,3):
  lst.append(int(input("Enter elements in the list ")))
  sum += lst[i]
  product *= lst[i]
print("list = {}".format(lst))
print("Sum of elements in list {}".format(sum))
print("Product of elements in list {}".format(product))

Enter elements in the list 4
Enter elements in the list 5
Enter elements in the list 6
list = [4, 5, 6]
Sum of elements in list 15
Product of elements in list 120

In [ ]:
# Q5: Write a Python program to get the maximum and minimum numbers from a list

In [ ]:
lst1 = [34,56,7,23,890,94,32]
max = lst1[0]
min = lst1[0]
for k in lst1:
  if k > max:
    max = k
  if k < min:
    min = k
print(max, min)

890 7

In [ ]:
# Q6: Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

In [ ]:
colors = ["white", "black", "red", "orange", "green", "pink", "blue"]
del colors[0]
del colors[3]
del colors[3]
print(colors)

['black', 'red', 'orange', 'blue']

In [ ]:
# Q7: Write a Python program to convert a list of characters into a string

In [ ]:
lst = ['a','b','c','d','e']
string = ""
for j in lst:
  string += j
print(string)

abcde

In [ ]:
# Q8: Write a Python program to compute average of given lists.

In [ ]:
lst1 = [2,5,8,4]
lst2 = [3,9,6,1]
sum = 0
for i in lst1:
  sum += i
for j in lst2:
  sum += j
print("The average of lst1 and lst2 is {}".format(sum/(len(lst1)+len(lst2))))

The average of lst1 and lst2 is 4.75

In [ ]:
# Q9: Write a Python program to count integer in a given mixed list

In [11]:
lst = [23, 4.987, 567, 7+8j, "glass", 2345, 6174]
count = 0
for i in lst:
  if type(i) == int:
    count += 1
print(count)

4

In [ ]:
# Q10: Write a Python program to reverse the list

In [ ]:
lst = [23, 4.987, 567, 7+8j, "glass", 2345, 6174]
lst.reverse()
print(lst)

[6174, 2345, 'glass', (7+8j), 567, 4.987, 23]

In [ ]:
# Q11: Write a Python program convert a given string to a tuple

In [ ]:
print(tuple(input("Enter a string ")))

Enter a string python1.2
('p', 'y', 't', 'h', 'o', 'n', '1', '.', '2')